body {
    font-family: 'Quicksand', sans-serif;
    color: $text;
}

.container {
    background-color: $bg-secondary;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .valute-container {
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 50px;
    }

    .calculator {
        position: relative;
        display: flex;

        .valute {
            margin-right: 25px;

            .switcher {
                margin-bottom: 25px;
                background-color: $bg;
                display: flex;

                .current-from,
                .current-to {
                    overflow:hidden;
                    display:inline-block;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 12px 20px;
                    width: 255px;
                    height: 18px;
                    border: 1px solid #777;
                    text-align: center;
                    cursor: default;
                }

                .selector-from,
                .selector-to {
                    padding: 12px 0;
                    width: 83px;
                    height: 18px;
                    border: 1px solid #777;
                    text-align: center;
                    cursor: pointer;

                    &.active {
                        background-color: $bg-secondary;
                    }
                }
            }
            .input-box {
                width: 380px;
                border: 1px solid #777;
                background-color: $bg;

                .value-from,
                .value-to {
                    font-size: 34px;
                    border: none;
                    outline: none;
                    padding: 0 0;
                    margin: 25px 15px;
                    width: calc(100% - 34px);
                    height: 70px;

                    /* Chrome, Safari, Edge, Opera */
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    &[type=number] {
                        -moz-appearance: textfield;
                    }
                }
            }
        }

        .valute-container {
            position: absolute;
            top: 60px;
            left: -160px;
            -webkit-box-shadow: 0px 4px 8px 8px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 4px 8px 8px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 4px 8px 8px rgba(34, 60, 80, 0.2);
            background-color: $bg-secondary;
            padding: 20px 20px;
            width: 1040px;
            // height: 320px;
            opacity: 0;
            pointer-events: none;
            display: flex;
            justify-content: space-between;

            &.active {
                opacity: 1;
                pointer-events: all;
            }

            .column {
                width: 100%;

                .position {
                    padding: 0 5px;
                    line-height: 24px;
                    cursor: pointer;

                    &:hover {
                        background-color: $text-hover;
                    }
                }
            }
        }
    }
}